.btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.col-1,
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.il-isimleri div {
    position: absolute !important;
    z-index: 2 !important;
    display: inline-block;
    background: #1094F6;
    font-weight: 600;
    color: #fff;
    padding: 8px 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-family: 'Playpen Sans', cursive !important;
    border-radius: 4px;
  }
  *{
    font-family: 'Playpen Sans', cursive;
  }
  .gray {
    background-color: gray;
    color: white;
    border: gray;
  }
  
  .gray:hover {
    background-color: darkgray;
  }
  